.sh1{
    background-color: rgb(70, 120, 161);
    width: 100px;
    height: 110px;
    overflow: scroll;
}

.sh2{
    background-color: aqua;
    width: 100px;
    height: 110px;
}

.sh3{
    background-color: aquamarine;
    width: 100px;
    height: 110px;
    overflow: ;
}