.description1{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

.description2{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

.description3{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}