.matrix{
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    transform: matrix();
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container{
    perspective: 500px ;
}

.box{
    width: 200px;
    height: 100px;
    background-color: aqua;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.box:hover{
    transform: rotateX(45deg) rotateY(45deg) translateZ(100px);
}